

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Google Sans", sans-serif;
    background: #121212;

    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
}


.calculator {

    width: 320px;

    background: #1c1c1c;

    padding: 20px;

    border-radius: 25px;

    box-shadow:
    0 20px 40px rgba(0,0,0,0.5);
}



/* SCREEN */

.screen {

    height: 100px;

    background: #2a2a2a;

    border-radius: 18px;

    padding: 15px;

    margin-bottom: 20px;


    display: flex;
    flex-direction: column;

    justify-content: space-between;
    align-items: flex-end;


    color:white;

    overflow:hidden;
}


#currentCalc {

    height:20px;

    width:100%;

    text-align:right;

    color:#aaa;

    font-size:14px;

}


#screen {

    width:100%;

    text-align:right;

    font-size:42px;

    font-weight:500;

    overflow:hidden;

}



/* BUTTONS */

.buttons {

    display:grid;

    grid-template-columns:repeat(4,1fr);

    gap:12px;

}



button {

    height:65px;

    border:none;

    border-radius:50%;


    font-size:22px;

    font-family:inherit;

    cursor:pointer;


    transition:

    transform .1s,

    filter .2s;

}



button:hover {

    filter:brightness(1.15);

}


button:active {

    transform:scale(.92);

}



/* COLORS */

.grey {

    background:#D4D4D2;

    color:black;

}



.dark-grey {

    background:#505050;

    color:white;

}



.orange {

    background:#FF9500;

    color:white;

}



/* ZERO BUTTON */

#zero {

    grid-column:span 2;

    border-radius:35px;

}



/* ICON */

button i {

    font-size:22px;

}

